body{
    margin:0;
    padding:0;
    background-color:white;
}

#prompt{
    font-size:3rem;
    color:black;
    background:white;
    padding:1rem;
    z-index:2;
}

#playback {
    width: 800px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 50%;
    background:white;
}

#timer_section1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(0, 0, 0);
    font-size:8rem;
}

#again_video{
    width: 400px;
    height: 400px;
    left:0;
    top:0;
    position:absolute;
}

video{
    border:none;
}

#intro_video{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

